@import "tailwindcss";

@theme {
  @keyframes shimmer {
    from { background-position: 200% 0; }
    to { background-position: -200% 0; }
  }
}

.animate-shimmer {
  animation: shimmer 3s infinite linear;
}